@using eCommerceReloaded.Models
<link rel="stylesheet" href="~/css/admin1.css" />
<h2>  this is your orders</h2>

<h3>ShipTo:@ViewBag.shipto</h3>

<div class="list-table">

    @if(@ViewBag.items!=null)
    {    
        <table>
            <tr>
                <th>Id</th>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Subtotal</th>
                <th>Action</th>
            </tr>
            @foreach(ProductInCart item in @ViewBag.items)
            {
            <tr>
                <td>@item.productId</td>
                <td>
                    <a href="/product/@item.productId">
                        <img class="pimg" src="@item.product.imageUrl" alt="">
                    </a>
                    <h4 class="ptext">Name:@item.product.name</h4>
                </td>
                <td>
                    @{
                        decimal price=(decimal)@item.product.price/100;
                        decimal subtotal=price*@item.quantity;
                    }
                    <h4 class="price">Price:$@price </h4>
                </td>
                <td>
                    <form  action="/cart/changequantitiy" method="post">
                        <input class="pid" type="hidden" value=@item.product.productId>
                        <input type="number" class="changequantity" value=@item.quantity min="1" max=@item.product.inventory step="1">
                    </form>
                </td>
                <td>
                    $@subtotal
                </td>
                <td>
                    <form class="deletecartitem" action="/cart/deletecartitem" method="POST">
                        <input type="hidden" class="pid" value=@item.product.productId>
                        <input type="submit" value="Delete">
                    </form>
                </td>

            </tr>
            }
        </table>  
            <hr>
            
                decimal total=(decimal)@ViewBag.total/100;
                
            <h3>Total (<span id="quantity">@ViewBag.quantity</span> &nbsp items): <span id="total">$@total</span></h3> 
        <form action="/orderreview" method="post">
            <input type = "hidden" name="quantity"  value="@ViewBag.quantity"/> 
            <input type = "hidden" name="total" value="@ViewBag.total"/> 
            <input type = "hidden" name="customer" value="@ViewBag.user.userId"/> 
            <input type="submit" value="Continue to review">
        </form>     
    }
</div>