
<div class = "container-fluid">
    <div class="row">
        <div class="col-sm-4"><img src="@ViewBag.singleProduct.imageUrl" width=300px; height=300px;/></div> 
        <div class="col-sm-4">
            <h1>@ViewBag.singleProduct.name 
            <h3><em>Category~</em><a href="">@ViewBag.singleProduct.category.name </a></h3>
            <hr>
           <h1><small> Price: $@ViewBag.singleProduct.price </small> </h1>
           @if(@ViewBag.singleProduct.inventory != 0)
           {
                <h3> <span style="color:green">In stock.</span> </h3> 
           } 
           else 
           {
                <h3> <span style="color:red">Out of stock.</span> </h3>
           }
           <p> @ViewBag.singleProduct.description </p> 
        </div> 
        <div class="col-sm-4"  style="border:1px solid black">
            <!--start -->
            @if(@ViewBag.singleProduct.inventory !=0)
            {

    
            <div class="row">
                <div class="col-sm-6">
                    <h4> Buy New: </h4> 
                </div> 
                <div class="col-sm-6">
                    <h4> <span style="color:red">$@ViewBag.singleProduct.price
                </div> 
            </div>
            <div class="row">
                <div class="col-sm-1">
                    <p> Qty: </p> 
                </div> 
                <div class="col-sm-2">
                    <select> 
                        @for(var i = 1; i < @ViewBag.singleProduct.inventory + 1 ; i++)
                        {
                            <option> @i </option>
                        }
                    </select> 
                </div> 
            </div> 
            <div class = "row">
                 <div class="col-sm-12">
            
                     <a class="btn btn-warning btn-block">Add to Cart</a>
                     <a class="btn btn-primary btn-block">Add to Wishlist</a>
                </div> 
            </div> 
            }
            else 
            {
                <h1> Out Of Stock </h1> 
            }
        <!--end -->
        </div> 
    </div> 
</div> 